<!doctype html>
<html><!-- InstanceBegin template="/Templates/dwt.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>ELearning在线测评与学习平台</title>
<link rel="stylesheet" href="assets/css/course.css"/>
<link rel="stylesheet" href="assets/css/register-login.css"/>
<script src="assets/js/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" href="assets/css/tab.css" media="screen">
<script src="assets/js/jquery.tabs.js"></script>
<script src="assets/js/mine.js"></script>
<script type="text/javascript">
$(function(){

	$('.demo2').Tabs({
		event:'click'
	});
	$('.demo3').Tabs({
		event:'click'
	});
});
</script>

<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->

</head>

<body>

<div class="head" id="fixed">
	<div class="nav">
    	<span class="navimg"><a href="index.html"><img border="0" src="assets/images/logo/logo.png"></a></span>
        <ul class="nag">
        	<li><a href="../../../../../Downloads/664179701/FileRecv/courselist.html" class="link1 current">课程</a></li>
            <li><a href="articlelist.html" class="link1">资讯</a></li>
            <li><a href="teacherlist.html" class="link1">讲师</a></li>
            <li><a href="exam_index.html" class="link1" target="_blank">题库</a></li>
            <li><a href="askarea.html" class="link1" target="_blank">问答</a></li>
            
        </ul>
        <span class="massage">
            <!--<span class="select">
        	<a href="#" class="sort">课程</a>
        	<input type="text" value="关键字"/>
            <a href="#" class="sellink"></a>
            <span class="sortext">
            	<p>课程</p>
                <p>题库</p>
                <p>讲师</p>
            </span>
        </span>--> 
        	<!--未登录-->
        	<span class="exambtn_lore">
                 <a class="tkbtn tklog" href="login.html">登录</a>
                 <a class="tkbtn tkreg" href="register.html">注册</a>
            </span>
            <!--登录后-->
            <!--<div class="logined">
                <a href="mycourse.html"  onMouseOver="logmine()" style="width:70px" class="link2 he ico" target="_blank">sherley</a>
                <span id="lne" style="display:none" onMouseOut="logclose()" onMouseOver="logmine()">
                    <span style="background:#fff;">
                        <a href="mycourse.html" style="width:70px; display:block;" class="link2 he ico" target="_blank">sherley</a>
                    </span>
                    <div class="clearh"></div>
                    <ul class="logmine" >
                        <li><a class="link1" href="#">我的课程</a></li>
                        <li><a class="link1" href="#">我的题库</a></li>
                        <li><a class="link1" href="#">我的问答</a></li>
                        <li><a class="link1" href="#">退出</a></li>
                    </ul>
                </span>
            </div>-->
            
        </span>
    </div>
</div>
<!-- InstanceBeginEditable name="EditRegion1" -->


<div id="courseminute" class="coursecont">
</div>


<script>
    $.ajax({
        url:"/coursecont",
        type:"post",
        data:"",
        dataType:"json",
        contentType:"application/json",
        success:function () {
             var courseminuteDiv = $("#courseminute");
   courseminuteDiv.append("<div class='coursecont'>" +
       "<div class='coursepic1'>" +
       "<div class='coursetitle1'>" +
       "<h2 class='courseh21'>"+course.name+"</h2></div>"+
       "<div class='course_img1'>" +
       "<img height='140' src='"+course.coursePic+"'/></div>"+
       "<div class='course_xq'>" +
       "<span class='courstime1'><p>课时<br/><span class='coursxq_num'>"+course.length+"</span></p></span>" +
       "<span class='courstime1'><p style='border:none;'>课程分类<br/><span class='coursxq_num'>"+course.class+"</span></p></span></div>"+
       "<div class='course_xq2'>" +
       "<a class='course_learn' href='record.html'>开始学习</a> </div>"+
       "<div class='clearh'></div></div></div>"+
       "<div class='clearh'></div>"+
       "<div class='coursetext'>" +
       "<div class='box demo2' style='position:relative'>" +
       "<ul class='tab_menu'>" +
       "<li class='current course1'>详解</li>" +
       "<li class='course1'>评价</li></ul>" +
       "<div class='tab_box'>" +
       "<div><dl class='mulu noo'>"+course.coursepage+"</dl></div></div>" +
       "<div class='hide'>" +
       "<div>" +
       "<div id='star'>" +
       "<span class='startitle'>请打分</span>" +
       "<ul><li><a href='javascript:;'>1</a> </li>" +
       "<li><a href='javascript:;'>2</a></li>" +
       "<li><a href='javascript:;'>3</a> </li>" +
       "<li><a href='javascript:;'>4</a> </li>" +
       "<li><a href='javascript:;'>5</a> </li></ul>" +
       "<span></span>" +
       "<p></p></div>" +
       "<div class='c_eform'>" +
       "<textarea rows='7' class='pingjia_con'>"+course.content+"</textarea>" +
       "<a href='#' class='fombtn'>发布评论</a>" +
       "<div class='clearh'></div></div></div></div></div></div>"+
       "<div class='courightext'>" +
       "<div class='ctext'>" +
       "<div class='cr1'>" +
       "<h3 class='righttit'>授课讲师</h3>" +
       "<div class='teacher'>" +
       "<div class='teapic ppi'>" +
       "<a href='teacher.html' target='_blank'><img class='teapicy' src='"+course.lecturePic+"' width='80'  title='"+course.lecture+"'></a>" +
       "<h3 class='tname'><a href='teacher.html' class='peptitle' target='_blank'>"+course.lecture+"</a> <p style='font-size:14px;color:#666'>"+lecture.lectureship+"</p> </h3></div> " +
       "<div class='clearh'></div>" +
       "<p>"+course.lecturepage+"</p></div></div></div></div>");

        },
        error: function (XMLHttpRequest, courseStatus) {
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
        }


        }

    );
   /*var course={};
   var lecture={};
   course.name="要好好学习";
   course.length="10min";
   course.class="数学";
   course.lecture="随心大傻逼";
   course.estimate="好";
   course.coursepage="哈哈上来看看时间成本看得出行列式的绿卡的萨拉尔的";
   course.coursePic="assets/images/course/c1.jpg";
   course.lecturePic="assets/images/character/teacher.png";
   course.lecturepage="；阿不上课打瞌睡东南部上空的那部分从，上的bvcssdn.nsdksdnlskd年开始的诺夫斯克的";
   course.content="特别好";
   var courseminuteDiv = $("#courseminute");
   courseminuteDiv.append("<div class='coursecont'>" +
       "<div class='coursepic1'>" +
       "<div class='coursetitle1'>" +
       "<h2 class='courseh21'>"+course.name+"</h2></div>"+
       "<div class='course_img1'>" +
       "<img height='140' src='"+course.coursePic+"'/></div>"+
       "<div class='course_xq'>" +
       "<span class='courstime1'><p>课时<br/><span class='coursxq_num'>"+course.length+"</span></p></span>" +
       "<span class='courstime1'><p style='border:none;'>课程分类<br/><span class='coursxq_num'>"+course.class+"</span></p></span></div>"+
       "<div class='course_xq2'>" +
       "<a class='course_learn' href='record.html'>开始学习</a> </div>"+
       "<div class='clearh'></div></div></div>"+
       "<div class='clearh'></div>"+
       "<div class='coursetext'>" +
       "<div class='box demo2' style='position:relative'>" +
       "<ul class='tab_menu'>" +
       "<li class='current course1'>详解</li>" +
       "<li class='course1'>评价</li></ul>" +
       "<div class='tab_box'>" +
       "<div><dl class='mulu noo'>"+course.coursepage+"</dl></div></div>" +
       "<div class='hide'>" +
       "<div>" +
       "<div id='star'>" +
       "<span class='startitle'>请打分</span>" +
       "<ul><li><a href='javascript:;'>1</a> </li>" +
       "<li><a href='javascript:;'>2</a></li>" +
       "<li><a href='javascript:;'>3</a> </li>" +
       "<li><a href='javascript:;'>4</a> </li>" +
       "<li><a href='javascript:;'>5</a> </li></ul>" +
       "<span></span>" +
       "<p></p></div>" +
       "<div class='c_eform'>" +
       "<textarea rows='7' class='pingjia_con'>"+course.content+"</textarea>" +
       "<a href='#' class='fombtn'>发布评论</a>" +
       "<div class='clearh'></div></div></div></div></div></div>"+
       "<div class='courightext'>" +
       "<div class='ctext'>" +
       "<div class='cr1'>" +
       "<h3 class='righttit'>授课讲师</h3>" +
       "<div class='teacher'>" +
       "<div class='teapic ppi'>" +
       "<a href='teacher.html' target='_blank'><img class='teapicy' src='"+course.lecturePic+"' width='80'  title='"+course.lecture+"'></a>" +
       "<h3 class='tname'><a href='teacher.html' class='peptitle' target='_blank'>"+course.lecture+"</a> <p style='font-size:14px;color:#666'>"+lecture.lectureship+"</p> </h3></div> " +
       "<div class='clearh'></div>" +
       "<p>"+course.lecturepage+"</p></div></div></div></div>"
   );*/

</script>
</body>

<!-- InstanceEnd --></html>
