<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../stat/assets/css/reset.css"/>
    <link rel="stylesheet" href="../stat/assets/css/global.css"/>
</head>
<body style="background-color: #f4f4f4;">
<div class="writeHead">
    <div class="writeHead_top center">
        <a href="community.html"><img src="../stat/assets/images/communityimg/backIcon.png" alt="" class="backBtn"/></a>
        <h1>帖子内容</h1>
    </div>
</div>
<div style="width: 100%;height: 46px"></div>
<div class="lt_contentTop">
    <h1 class="lt_contentTop_Title">广州4月19号举行限外听证会！2018年是否会实行车牌限行？</h1>
    <div class="lt_contentTop_Msg">
        <a href="">
            <div class="ltConPic"><img src="../stat/assets/images/communityimg/cs.png" alt=""/></div>
            <p>坦诚相待</p>
        </a>
        <button class="ltCon_collect">收藏</button>
    </div>
    <div class="ltCon_detail">
        <p>拍王深耕广州竞价3年，最近听到很多广州即将限行的消息。作为一个一线城市，广州是唯一一个没有限行的城市。所以拍王预测，2018年，广州限行的正式方案应该会出炉。（网络上流传的限行时段以及区域图）</p>
    </div>
</div>
<div class="ltCon_pend">
    <p class="ltCon_pendFont center">评论区</p>
    <div class="ltCon_pendCen center">
        <div class="ltCon_pendCen_left">
            <a href=""><img src="../stat/assets/images/communityimg/cs.png" alt=""/></a>
        </div>
        <div class="ltCon_pendCen_right">
            <a href=""><h6>坦诚相待</h6></a>
            <span>8分钟前</span>
            <div class="clear"></div>
            <p class="ltReplay">回复 <a href="">嘿嘿嘿</a> 那价格还是很低啊，知道怎么改竞价吗？</p>
            <div class="ltDo"><span>回复</span></div>
        </div>
    </div>
    <div class="ltCon_pendCen center">
        <div class="ltCon_pendCen_left">
            <a href=""><img src="../stat/assets/images/communityimg/cs.png" alt=""/></a>
        </div>
        <div class="ltCon_pendCen_right">
            <a href=""><h6>坦诚相待</h6></a>
            <span>8分钟前</span>
            <div class="clear"></div>
            <p class="ltReplay"> 车子已经提好了，临牌还有一个月时间，想你拍用完再去上牌，我想先去交税可以吗？哪里可以交，有人知道吗</p>
            <div class="ltDo"><span>回复</span></div>
        </div>
    </div>
    <div class="ltCon_pendCen center">
        <div class="ltCon_pendCen_left">
            <a href=""><img src="../stat/assets/images/communityimg/cs.png" alt=""/></a>
        </div>
        <div class="ltCon_pendCen_right">
            <a href=""><h6>坦诚相待</h6></a>
            <span>8分钟前</span>
            <div class="clear"></div>
            <p class="ltReplay"> 车子已经提好了，临牌还有一个月时间，想你拍用完再去上牌，我想先去交税可以吗？哪里可以交，有人知道吗</p>
            <div class="ltDo"><span>回复</span></div>
        </div>
    </div>
</div>
<div style="width: 100%;height: 50px"></div>
<div class="ltConFoot">
    <div class="ltConFoot_cen center">
        <input type="text" placeholder="说说看法"/>
        <input type="submit" value=""/>
        <button class="ltCon_collect" id="send">发送</button>
    </div>
</div>
</body>
</html>
<script src="../stat/assets/js/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>