<!doctype html>
<html lang=""><!-- InstanceBegin template="/Templates/dwt.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta charset="utf-8">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Elearning在线测评与学习平台</title>
    <link rel="stylesheet" href="../stat/assets/css/course.css"/>
    <link rel="stylesheet" href="../stat/assets/css/mod_password.css"/>
    <link rel="stylesheet" href="../stat/assets/css/member.css"/>
    <script src="../stat/assets/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../stat/assets/css/tab.css" media="screen">
    <script src="../stat/assets/js/jquery.tabs.js"></script>
    <script src="../stat/assets/js/mine.js"></script>
    <script src="../stat/assets/js/mod_password.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.demo2').Tabs({
                event:'click'
            });
        });
    </script>
    <!-- InstanceEndEditable -->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->

</head>

<body>

<div class="head" id="fixed">
    <div class="nav">
        <span class="navimg"><a href="index.html"><img border="0" src="../stat/assets/images/logo/logo.png" alt=""></a></span>
        <ul class="nag">
            <li><a href="courselist.html" class="link1 current">课程</a></li>
            <li><a href="articlelist.html" class="link1">资讯</a></li>
            <li><a href="teacherlist.html" class="link1">讲师</a></li>
            <li><a href="exam_index.html" class="link1" target="_blank">题库</a></li>
            <li><a href="askarea.html" class="link1" target="_blank">问答</a></li>

        </ul>
        <span class="massage">
            <!--<span class="select">
        	<a href="#" class="sort">课程</a>
        	<input type="text" value="关键字"/>
            <a href="#" class="sellink"></a>
            <span class="sortext">
            	<p>课程</p>
                <p>题库</p>
                <p>讲师</p>
            </span>
        </span>-->
            <!--未登录-->
        	<span class="exambtn_lore">
                 <a class="tkbtn tklog" href="login1.html">登录</a>
                 <a class="tkbtn tkreg" href="register.html">注册</a>
            </span>
        </span>
    </div>
</div>
<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="clearh"></div>
<div class="membertab">
    <div class="memblist">
        <div class="membhead">
            <div style="text-align:center;"><img src="assets/images/0-0.JPG" width="80"  alt=""></div>
            <div style="width:220px;text-align:center;">
                <p class="membUpdate mine">某某某</p>
                <div class="clearh"></div>
            </div>
        </div>
        <div class="memb">
            <ul>
                <li class="currnav"><a class="mb1" href="mycourse.html">我的课程</a></li>
                <li><a class="mb3" href="myQ_A.html">我的问答</a></li>
                <li><a class="mb4" href="myTests.html">我的考试</a></li>
                <li><a class="mb12" href="mySetting.html">个人信息</a></li>
                <li><a class="mb2" href="myRepassword.html" target="_blank">修改密码</a></li>
            </ul>
        </div>
    </div>
    <div class="membcont">
        <h3 class="mem-h3">修改密码</h3>
        <div class="mod_password">
            <div>
                <p class="formrow"><label class="control-label"  for="register_email">旧密码:</label>
                    <input type="password" id="pre_password" onkeypress="span_1()"></p>
                <span class="text-danger" id="pcode_check" >请填写旧密码</span>
            </div>
            <div>
                <p class="formrow"><label class="control-label"  for="register_email">新密码:</label>
                    <input type="password" id="password" onkeyup="span_2()"></p>
                <span class="text-danger" id="ncode_check" >填写新密码(5-20位英文、数字、符号，区分大小写)</span>
            </div>
            <div>
                <p id="querenBtn" class="formrow"><label class="control-label"  for="register_email">确认密码:</label>
                    <input type="password" id="code_confirm" onkeyup="span_3()"></p>
                <span class="text-danger" id="confirm_check">请确认新密码</span>
            </div>
            <div class="confirm">
                <button type="submit" id="ascertain" onclick="code_modify()">确定</button>
            </div>
        </div>
    </div>
<!--右侧浮动-->
<div class="rmbar">
	<span class="barico qq" style="position:relative">
	<div  class="showqq">
	   <p>官方客服QQ:<br>335049335</p>
	</div>
	</span>
    <span class="barico em" style="position:relative">
	  <img src="assets/images/num.png" width="75" class="showem">
	</span>
    <span class="barico wb" style="position:relative">
	  <img src="assets/images/wb.png" width="75" class="showwb">
	</span>
    <span class="barico top" id="top">置顶</span>
</div>
</div>
</body>

<!-- InstanceEnd --></html>