<!doctype html>
<html><!-- InstanceBegin template="/Templates/dwt.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Elearning在线测评与学习平台</title>

<link rel="stylesheet" href="../stat/assets/css/course.css"/>
<link rel="stylesheet" href="../stat/assets/css/register-login.css"/>
<script src="../stat/assets/js/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="../stat/assets/css/tab.css" media="screen">
<script src="../stat/assets/js/jquery.tabs.js"></script>
<script src="../stat/assets/js/mine.js"></script>
    <script src="../stat/assets/js/register.js"></script>
    <script src="../stat/assets/js/bmob-min.js"></script>

    <!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->

</head>

<body>

<div class="head" id="fixed">
	<div class="nav">
        <span class="navimg"><a href="index.html"><img border="0" src="../stat/assets/images/logo/logo.png"></a></span>
        <ul class="nag">
            <li><a href="courselist.html" class="link1 current">课程</a></li>
            <li><a href="articlelist.html" class="link1">资讯</a></li>
            <li><a href="teacherlist.html" class="link1">讲师</a></li>
            <li><a href="exam_index.html" class="link1" target="_blank">题库</a></li>
            <li><a href="askarea.html" class="link1" target="_blank">问答</a></li>
        </ul>
        <span class="massage">
            <!--<span class="select">
        	<a href="#" class="sort">课程</a>
        	<input type="text" value="关键字"/>
            <a href="#" class="sellink"></a>
            <span class="sortext">
            	<p>课程</p>
                <p>题库</p>
                <p>讲师</p>
            </span>
        </span>--> 
        	<!--未登录-->
        	<span class="exambtn_lore">
                 <a class="tkbtn tklog" href="login1.html">登录</a>
                 <a class="tkbtn tkreg" href="register.html">注册</a>
            </span>
            <!--登录后-->
            <!--<div class="logined">
                <a href="mycourse.html"  onMouseOver="logmine()" style="width:70px" class="link2 he ico" target="_blank">sherley</a>
                <span id="lne" style="display:none" onMouseOut="logclose()" onMouseOver="logmine()">
                    <span style="background:#fff;">
                        <a href="mycourse.html" style="width:70px; display:block;" class="link2 he ico" target="_blank">sherley</a>
                    </span>
                    <div class="clearh"></div>
                    <ul class="logmine" >
                        <li><a class="link1" href="#">我的课程</a></li>
                        <li><a class="link1" href="#">我的题库</a></li>
                        <li><a class="link1" href="#">我的问答</a></li>
                        <li><a class="link1" href="#">退出</a></li>
                    </ul>
                </span>
            </div>-->
            
        </span>
    </div>
</div>
<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="register" style="background:url(assets/images/13.jpg) right center no-repeat #fff">
<h2>注册</h2>
<form>
    <div>
        <p class="formrow"><label class="control-label" for="register_email">你的职业</label>
            <label for="student" id="student"><input type="radio" name="profession" value="student">   学生</label>
            <label for="teacher" id="teacher"><input type="radio" name="profession" value="teacher">   教师</label>
        </p>
        <span class="text-danger" id="attr_check">请选择职业</span>
    </div>
    <div>
        <p class="formrow"><label class="control-label" for="register_email">手机号</label>
            <input type="text" id="phone"></p>
            <span class="text-danger" id="phone_check">请输入手机号</span>
    </div>
    <div>
        <p class="formrow"><label class="control-label"  for="register_email">验证码</label>
        <input type="text" id="identify_number"></p>
             <input type="button" id="identify" value="获取验证码"  />
        <span class="text-danger" id="num_check">请及时查收发送到手机的验证码</span>
    </div>
    <div>
        <p class="formrow"><label class="control-label"  for="register_email">密码</label>
        <input type="password" id="password"></p>
        <span class="text-danger" id="code_check">5-20位英文、数字、符号，区分大小写</span>
    </div>
    <div>
    <p class="formrow"><label class="control-label"  for="register_email">确认密码</label>
    <input type="password" id="confirm"></p>
    <span class="text-danger" id="confirm_check">再输入一次密码</span>
    </div>
    <div class="loginbtn reg">
       <button type="submit" id="register">注册</button>
    </div>
<!--   <form>
        <p>日期选择</p>
        <input type="date"/>
    </form>-->

</form>
</div>
<!-- InstanceEndEditable -->

<!--右侧浮动-->
<div class="rmbar">
	<span class="barico qq" style="position:relative">
	<div  class="showqq">
	   <p>官方客服QQ:<br>335049335</p>
	</div>
	</span>
    <span class="barico em" style="position:relative">
	  <img src="assets/images/num.png" width="75" class="showem">
	</span>
    <span class="barico wb" style="position:relative">
	  <img src="assets/images/wb.png" width="75" class="showwb">
	</span>
    <span class="barico top" id="top">置顶</span>
</div>
</body>

<!-- InstanceEnd --></html>
