<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../stat/assets/css/reset.css"/>
    <link rel="stylesheet" href="../stat/assets/css/global.css"/>
</head>
<body style="background-color: #f4f4f4;">
<div class="writeHead">
    <div class="writeHead_top center">
        <a href="community.html"><img src="../stat/assets/images/communityimg/backIcon.png" alt="" class="backBtn"/></a>
        <h1>坦诚相待</h1>
    </div>
</div>
<div style="width: 100%;height: 46px"></div>
<div class="taMain">
    <div class="meHead_msg center on">
        <div class="meHead_msgPic"><img src="../stat/assets/images/communityimg/cs.png" alt=""/></div>
        <div  class="meHead_msgFont">
            <h1>坦诚相待</h1>
            <p>已注册拍王账号178天</p>
        </div>
    </div>
</div>
<div class="taTitle">他的发帖</div>
<div class="indexTable_son on">
    <div class="taBody">
        <a href="javascript:">
            <div class="indexTable_sonHead">
                <div class="inHeadPic">
                    <img src="../stat/assets/images/communityimg/cs.png" alt=""/>
                </div>
                <p>坦诚相待</p>
                <i>8分钟前</i>
            </div>
        </a>
        <a href="">
            <div class="indexTableCon">
                <h1>广州4月19号举行限外听证会！2018年是否会实行车牌限行？</h1>
            </div>
        </a>
    </div>
</div>
<div class="indexTable_son on">
    <div class="taBody">
        <a href="javascript:">
            <div class="indexTable_sonHead">
                <div class="inHeadPic">
                    <img src="../stat/assets/images/communityimg/cs.png" alt=""/>
                </div>
                <p>坦诚相待</p>
                <i>8分钟前</i>
            </div>
        </a>
        <a href="">
            <div class="indexTableCon">
                <h1>广州4月19号举行限外听证会！2018年是否会实行车牌限行？</h1>
            </div>
        </a>
    </div>
</div>
<div class="indexTable_son on">
    <div class="taBody">
        <a href="javascript:">
            <div class="indexTable_sonHead">
                <div class="inHeadPic">
                    <img src="../stat/assets/images/communityimg/cs.png" alt=""/>
                </div>
                <p>坦诚相待</p>
                <i>8分钟前</i>
            </div>
        </a>
        <a href="">
            <div class="indexTableCon">
                <h1>广州4月19号举行限外听证会！2018年是否会实行车牌限行？</h1>
            </div>
        </a>
    </div>
</div>
<div class="indexTable_son on">
    <div class="taBody">
        <a href="javascript:">
            <div class="indexTable_sonHead">
                <div class="inHeadPic">
                    <img src="../stat/assets/images/communityimg/cs.png" alt=""/>
                </div>
                <p>坦诚相待</p>
                <i>8分钟前</i>
            </div>
        </a>
        <a href="">
            <div class="indexTableCon">
                <h1>广州4月19号举行限外听证会！2018年是否会实行车牌限行？</h1>
            </div>
        </a>
    </div>
</div>
<div class="indexTable_son on">
    <div class="taBody">
        <a href="javascript:">
            <div class="indexTable_sonHead">
                <div class="inHeadPic">
                    <img src="../stat/assets/images/communityimg/cs.png" alt=""/>
                </div>
                <p>坦诚相待</p>
                <i>8分钟前</i>
            </div>
        </a>
        <a href="">
            <div class="indexTableCon">
                <h1>广州4月19号举行限外听证会！2018年是否会实行车牌限行？</h1>
            </div>
        </a>
    </div>
</div>
<div class="indexTable_son on">
    <div class="taBody">
        <a href="javascript:">
            <div class="indexTable_sonHead">
                <div class="inHeadPic">
                    <img src="../stat/assets/images/communityimg/cs.png" alt=""/>
                </div>
                <p>坦诚相待</p>
                <i>8分钟前</i>
            </div>
        </a>
        <a href="">
            <div class="indexTableCon">
                <h1>广州4月19号举行限外听证会！2018年是否会实行车牌限行？</h1>
            </div>
        </a>
    </div>
</div>
</body>
</html>
<script src="../stat/assets/js/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>