<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>发帖</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../stat/assets/css/reset.css"/>
    <link rel="stylesheet" href="../stat/assets/css/global.css"/>
    <style>
        input::-webkit-input-placeholder{
            color:#333;
            font-size: 14px;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#333;
            font-size: 14px;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#333;
            font-size: 14px;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:#333;
            font-size: 14px;
        }
    </style>
</head>
<body style="background-color: #f4f4f4;">
<div class="writeHead">
    <div class="writeHead_top center">
        <a href="community.html"><img src="../stat/assets/images/communityimg/backIcon.png" alt="" class="backBtn"/></a>
        <h1>发帖</h1>
        <input type="submit" value="发布"/>
    </div>
</div>
<div style="width: 100%;height: 46px"></div>
<div class="writeTitle center">
    <input type="text" placeholder="请输入标题"/>
</div>
<div class="writeCon center">
<textarea placeholder="请输入您想说的...">对中国打工与度假签证申请人的一般资格要求如下：持有有效的中国护照；申请递交时年满18岁，但未满31岁；不携子女赴澳；有足够的资金支持在澳洲打工度假（至少5000澳币）；在打工度假结束时有足够的资金购..对中国打工与度假签证申请人的一般资格要求如下：持有有效的中国护照；申请递交时年满18岁，但未满31岁；不携子女赴澳；有足够的资金支持在澳洲打工度假（至少5000澳币）；在打工度假结束时有足够的资金购..</textarea>
</div>
<div style="width: 100%;height: 50px"></div>
<div class="footBar">
    <a href="">
        <div class="footBar_pic">
            <img src="../stat/assets/images/communityimg/footIcon1_hover.png" alt=""/>
        </div>
        <p>首页</p>
    </a>
    <a href="">
        <div class="footBar_pic">
            <img src="../stat/assets/images/communityimg/footIcon2.png" alt=""/>
        </div>
        <p class="on">发帖</p>
    </a>
    <a href="">
        <div class="footBar_pic">
            <img src="../stat/assets/images/communityimg/footIcon3_hover.png" alt=""/>
        </div>
        <p>我的</p>
    </a>
</div>
</body>
</html>
<script src="../stat/assets/js/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>